header {
  font-family: "Century Gothic";
  font-size: 40px;
}
button {
  font-family: "Century Gothic";
  font-size: 15px;
  color: #ff8569;
}
h1 {
  font-family: "Century Gothic";
  font-size: 30px;
  color: #e8655f;
}
ul {
  font-family: "Century Gothic";
  font-size: 15px;
  color: #000000;
}
